.search-wrapper {
  position: relative;
}

.search-wrapper > .autocomplete {
  position: absolute;
  height: 1500%;
  width: 100%;
  overflow: auto;
  z-index: 1;
  visibility: hidden;
}

.search-wrapper > .autocomplete.active {
  visibility: visible;
}

.autocomplete > li {
  display: flex;
  align-items: center;
  background-color: #d7d7d7;
  color: black;
  padding: 0 5px;
  cursor: pointer;
}

.autocomplete > li:hover {
  background-color: #ebebeb;
}

.autocomplete > li:not(:last-child) {
  border-bottom: 1px solid #464646;
}
