@import url("./autocomplete-header.css");

header > * {
  padding: 0 3%;
}

header > h1 {
  display: flex;
  align-items: center;
  font-size: calc(30px + 0.5vw);
}

header > form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header > form * {
  min-height: 30px;
}

header input[type="search"] {
  width: 250px;
}

header input[type="submit"] {
  background-color: #000082;
  color: #fff;
  transition: background-color 0.2s;
}

header input[type="submit"]:hover {
  background-color: #0000dc;
  cursor: pointer;
}

.weather-mode-select {
  padding-left: 0;
  display: flex;
  gap: 20px;
}
