main > * {
  flex: 1;
}

main > .today {
  flex: 4;
  display: flex;
  width: 100%;
  height: 100%;
  font-size: calc(20px + 0.4vw);
}

main > .today > * {
  flex: 1;
}

.condition-detailed-wrapper > .weather-gif-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
}

.weather-gif-wrapper > img {
  width: 10vw;
  object-fit: contain;
}

main .condition-detailed-wrapper {
  width: 100%;

  /* height: 100%; */

  /* background-color: #e6c800; */
  display: flex;

  /* justify-content: space-around; */
  align-items: center;
}

main .condition-detailed {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

main .temperature {
  font-size: 1.6em;
}

main .weather-condition {
  margin-bottom: -10%;
}

main .weather-condition > .temperature {
  transform: translateY(-55%);
}

main .condition-detailed > :is(.feels-like-condition, time) {
  font-size: 0.5em;
}

main :is(.weather-condition, .feels-like-condition) {
  display: flex;
  align-items: baseline;
  gap: 4px;
}

main .chance-of-rain {
  font-size: 0.6em;
}
