@media screen and (width <= 700px) {
  body > header {
    flex-direction: column;
    gap: 30px;
  }

  .condition-detailed-wrapper > .weather-gif-wrapper {
    justify-content: center;
  }

  .hours-detailed > .table-wrapper {
    flex-direction: column;
    width: 100% !important;
  }
}

@media screen and (width <= 850px) {
  header form {
    gap: 10px;
  }
}

@media screen and ((width <= 1200px) or (height <= 900px)) {
  .today > * {
    padding: 40px 0;
  }

  main > .today {
    flex-direction: column !important;
  }

  .weather-gif-wrapper > img {
    width: 15vh !important;
  }

  .hours-detailed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center !important;
  }

  .hours-detailed > .table-wrapper {
    position: static !important;
    transform: none !important;
  }

  .table-wrapper > table {
    width: 100%;
  }

  .table-wrapper td {
    padding: 5px 20px !important;
  }
}
