@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Regular.ttf");
}

input {
  font: inherit;
  outline: none;
  border: none;
}

/* clears the 'X' from Internet Explorer */
input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.feels-like-condition {
  color: #828282;
}

.temperature {
  white-space: nowrap;
  display: flex;
  justify-content: flex-end;
}

.error {
  display: none;
  width: 100%;
  height: 100%;
}

.error.shown-message {
  display: flex;
  justify-content: center;
  padding-top: 10%;
}

.error.shown-message + main {
  display: none;
}
